@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chưa Implement - Update 13/11 </h1>
    <p>Contact me: <a href="https://www.facebook.com/tuan04baby11row/">PHAN ANH TUẤN</a>.</p>
</div>
